<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="board">
    
    <select id="selectBoardList" resultType="Map">
        SELECT
        	board_number,
 	        board_title,
    	    board_content,
    	    board_writer,
        	board_photo,
       		board_date,
       		grouplist_number
        FROM
        	bumoim.groupboard
        ORDER BY board_number DESC
        LIMIT #{pageStart}, #{perPageNum}
    </select>
    
    <select id="selectGroupBoardList" resultType="HashMap">
    	SELECT
    		board_number,
    		board_title,
    		board_content,
    		board_writer,
    		board_photo,
    		board_date
    	FROM
    		bumoim.groupboard
    	WHERE
    		grouplist_number = #{groupNum}
    	ORDER BY board_number DESC
    	 LIMIT #{boardCri.pageStart}, #{boardCri.perPageNum}
    </select>
    <insert id="insertBoard"  >
    	INSERT INTO bumoim.groupboard (
   	 			board_title,
    			board_content,
    			board_writer,
    			board_photo,
    			board_date,
    			grouplist_number
    	)
    	VALUES (
	    	#{board_title},
	    	#{board_content},
	    	#{board_writer},
	    	#{board_photo},
	    	CURDATE(),
	    	#{groupList_number}
    	)
    
    </insert>
    
    <select id="detail" resultType="com.bu.bumoim.domain.Board" >
		SELECT * FROM bumoim.groupboard
		WHERE board_number = #{board_number}
    
    </select>
    
    <update id="updateBoard">
    	UPDATE 
			bumoim.groupboard
		SET
			board_title = #{board_title},
			board_content = #{board_content}
		WHERE
			board_number = #{board_number}
	</update>
    
    <delete id="deleteBoard" >
    	DELETE 
    	
    	FROM bumoim.groupboard

    	WHERE board_number = #{board_number}
    </delete>
    
       <select id="selectgetCount" resultType="int">
      select count(*)
      from bumoim.groupboard
      where board_number=#{board_number}
      <if test="searchType != null">
         <if test="searchType == 'board_title'.toString()">
            AND TITLE like CONCAT('%', #{keyword}, '%')
         </if>
         <if test="searchType == 'board_content'.toString()">
            and CONTENT like CONCAT('%', #{keyword}, '%')
         </if>
         <if test="searchType == 'board_writer'.toString()">
            and MEM_NAME like CONCAT('%', #{keyword}, '%')
         </if>
      </if>
   </select>

</mapper>
