<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="Calendar">
  

  <insert id="insertCalendar" parameterType="Calendar">
  	INSERT INTO calendar
  	(member_id,
  	calendar_title,
  	calendar_content,
  	calendar_rdate,
  	calendar_wdate,
  	calendar_color)
  	VALUES
  	(#{member_id},
  	#{calendar_title},
  	#{calendar_content},
  	#{calendar_rDate},
  	#{calendar_wDate},
  	#{calendar_color})	
</insert>

<select id="getCalendar" resultType="HashMap">
	SELECT 
		
		calendar_title,
  		calendar_content,
  		calendar_rdate,
  		calendar_wdate,
  		calendar_color
	FROM 
		calendar
	WHERE 
		member_id = #{memeber_id}
</select>

 </mapper>