<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Gallery">	
<!-- 	<resultMap type="Gallery" id="GalleryList"> -->
<!-- 		<result property="num" column="photo_number"/> -->
<!-- 		<result property="content" column="photo_content"/> -->
<!-- 		<result property="fileName" column="photo_name"/> -->
<!-- 		<result property="regDate" column="photo_date"/>	 -->
<!-- 	</resultMap> -->
	
	<insert id="insertGallery"  parameterType="Gallery">

		INSERT INTO bumoim.groupphoto (
				photo_content, 
				photo_name,
<!-- 				photo_id, -->
				photo_date
				)
		VALUES (
			#{content}, 
			#{fileName},
<!-- 			#{writer}, -->
			CURDATE()
				)
	
	</insert>
	
	<select id="getGalleryList" resultMap="GalleryList">
		SELECT 
			photo_number as num,
			photo_content as content, 
<!-- 			photo_id,  -->
			photo_date as regDate, 
			photo_name as fileName
		FROM bumoim.groupphoto
		ORDER BY photo_number DESC
		
	</select>
	
	<select id="findGallery"  parameterType="int" resultMap="GalleryList">
		SELECT
			photo_number,
			photo_content, 
			photo_id, 
			photo_date, 
			photo_name
		FROM bumoim.groupphoto
		WHERE photo_number = #{num}
	</select>
	
	<update id="updateGallery" parameterType="Gallery">
		UPDATE bumoim.groupphoto set
			photo_content = #{content},
<!-- 			title = #{title}, -->
			photo_date = #{regDate},
			photo_name = #{fileName}
		WHERE photo_number = #{num}
	</update>
	
	<delete id="deleteGallery" parameterType="Gallery">
		DELETE FROM bumoim.groupphoto WHERE photo_number = #{num}
	</delete>
</mapper>