<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Gallery">	
	<resultMap type="Member" id="Member">
		<result column="member_id" property="member_id"/>
	</resultMap>
	<resultMap type="Gallery" id="Gallery">
		<result property="num" column="photo_number"/>
		<result property="content" column="photo_content"/>
		<result property="fileName" column="photo_name"/>
		<result property="regDate" column="photo_date"/>
		<collection property="Member" resultMap="Member"/>	
	</resultMap>
	
	
	<insert id="insertGallery">

		INSERT INTO bumoim.groupphoto (
				photo_content, 
				photo_name,
				photo_id,
				photo_date
				)
		VALUES (
			#{content}, 
			#{fileName},
			#{writer},
			CURDATE()
				)
	
	</insert>
	
	<select id="getGalleryList" resultType="Map">
		SELECT 
			photo_number as num,
			photo_content as content, 
			photo_id, 
			photo_date as regDate, 
			photo_name as fileName
		FROM bumoim.groupphoto
		ORDER BY photo_number DESC
		
		
	</select>
	
	<select id="findGallery" resultType="Gallery">
		SELECT
			photo_number as num,
			photo_content as content, 
			photo_id as writer, 
			photo_date as regDate, 
			photo_name as fileName
		FROM bumoim.groupphoto
		WHERE photo_number = #{num}
	</select>
	
	<update id="updateGallery" parameterType="Gallery">
		UPDATE bumoim.groupphoto
		<set>
			<if test='content != null and content != ""'>photo_content = #{content},</if>
			photo_date = CURDATE(),
			<if test='fileName != null and fileName != ""'>photo_name = #{fileName}</if>
		</set>	
		WHERE photo_number = #{num}
	</update>
	
	<delete id="deleteGallery" parameterType="Gallery">
		DELETE FROM bumoim.groupphoto WHERE photo_number = #{num}
	</delete>
	
</mapper>