<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="group">
    
   	<select id="selectGroupList" resultType="Map">
   		SELECT
   			grouplist_number,
   			grouplist_name,
   			grouplist_introduce,
   			grouplist_interest,
   			grouplist_people,
   			grouplist_date
   		FROM
   			bumoim.grouplist
   	</select>
   	
   	<insert id="insertGroup">
   	INSERT INTO bumoim.grouplist (
   		grouplist_name,
   		grouplist_introduce,
   		grouplist_interest,
   		grouplist_people,
   		grouplist_date
  		)
   	VALUES (
   		#{grouplist_name},
   		#{grouplist_introduce},
   		#{grouplist_interest},
   		#{grouplist_people},
   		CURDATE()
   	)
   	
   	
   	</insert>
   	
    <select id="groupDuplicationCheck" resultType="com.bu.bumoim.domain.GroupList" >
		select grouplist_name
		from bumoim.grouplist
		where grouplist_name = #{grouplist_name}
	</select>
	
	
	<select id="findGroupDetail" resultType="com.bu.bumoim.domain.GroupList">
		SELECT *
		FROM bumoim.grouplist
		WHERE grouplist_number = #{grouplist_number}
	</select>
		
	<select id="memberIdCheck" resultType="com.bu.bumoim.domain.Member" >
		SELECT member_id, member_name, member_group1, member_group2, member_group3
		FROM member
		WHERE member_id = #{member_id}
	</select>
	
	<select id="groupMemberList" resultType="com.bu.bumoim.domain.Member">
		SELECT member_id, member_number, member_name, member_major
		FROM member
		WHERE member_group1 = #{group_number} || member_group2 = #{group_number} || member_group3 = #{group_number}
	</select>
	
</mapper>